* .header { 
     padding: 20px 40px;
    display:flex;
    justify-content: space-between;
}
 .nav a {
        padding: 0 65px;
        padding-bottom: 20px;
        color: #163c3A;
        text-decoration: none;
        font-family: ivyepic, sans-serif;
        font-weight: semi bold;
        font-size: 30px;
    }
    .logo{
        padding-top: 10px;
    }
    .header {
        background-color: #8EA5A7;
        width: 100%; 
        opacity: 90%;
        position: fixed;
    }
    .pd{
        padding-top: 60px;
    }
    .video{
        width: 100%;
        height: auto;
    }
    .body{
        font-family: ivyepic, sans-serif;
        font-weight: 100;
        font-style: italic;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 2;
     }
     .body2{
        font-family: ivyepic, sans-serif;
        font-weight: 100;
        font-style: italic;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 2;
        text-align: left;
        padding-top: 50px;
        padding-bottom: 100px;
     }
    .crt{
        text-align: center;
    }
    .footer{
        background-color: #8EA5A7;
        width: 100%; 
        height: 184px;
    }